.app-container {
  font-family: 'Roboto', sans-serif;
  color: black;
  /* background-color: rgba(0,0,0,1); */
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter label {
  margin-right: 10px;
}

.filter select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.slider-container {
  margin-top: 20px;
}

.date-range {
  color: black;
  margin-top: 10px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 80%; /* Adjust the width as needed */
  padding: 10px;
}

.slider-container .date-range {
  color: #333; /* Dark grey for readability */
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.Range {
  width: 100%;
  padding: 10px 0;
}

.RangeTrack {
  height: 6px;
  width: 100%;
  background-color: #cccccc; /* Light grey track */
  border-radius: 3px;
  position: relative;
}

.RangeThumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FFA500; /* Soft orange for the thumb */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3); /* Subtle shadow for depth */
  cursor: pointer;
  position: absolute; /* Positioning adjusted to be centered on the track */
  top: -7px; /* Adjust top position to center the thumb on the track */
}
